main{
    margin-right: auto;
}

.formArquivo{
    width: 57%;
}

.asterisco-required {
    color: red;
}

option, option.selected {
    font-size: 16px;
    padding: 0.375rem 0.75rem;
    color: #212529;
    border-radius: 0.25rem;
}
  
.form-select{
    font-size: 16px;
    padding: 0.375rem 0.75rem;
    color: #212529;
    border-radius: 0.25rem;
}

.mb-2 select {
    height: 58px;
}

.colmod{
    padding: 10px;
    border: 1px solid #ccc;
}
.rowmod{
    margin-bottom: 10px;
}